.ease {
	@include transition(all 0.25s ease-in-out);
}
	
.button-wrap {
	display: block;
	a.button, a.unskew {
		// display: flex;
		display: inline-block;
	  padding: 15px 50px 15px 20px;
	  text-decoration: none;
	  @include transform(skew(20deg));
	  border: 3px solid;
	  text-transform: uppercase;
	  @include responsive_font_size($darkgreen, $darkbrown, 1.3);
	  @include breakpoint(ten) {
	  	padding: 15px 70px 15px 20px;
	  }
		.label {
			display: block;
	  	@include transform(skew(-20deg));
			padding-right: 0;
			@extend .ease;
			position: relative;
			.icon-arrow {
				position: absolute;
				right: -25px;
				@extend .ease;
				@include breakpoint(ten) {
					right: -45px;
				}
			}
		}
		
		&:hover {
			.label {
				.icon-arrow {
					right: -30px;
					@include breakpoint(ten) {
						right: -50px;
					}
				}
			}
		}
	}
	a.unskew {
		@include transform(skew(0deg));
		.label {
			@include transform(skew(0deg));
	  }
	}
}

.parallax {
	height: 500px;
	z-index: -1;
	position: absolute;
	background: $reallylightgray;
	width: 100%;
}	

#parallax-1 {
	transform-origin: left;
	transform: skew(20deg) rotate(20deg);
}

#parallax-2 {
	transform-origin: right;
	transform: skew(-20deg) rotate(-20deg);
}