// Colors
$white: #FFFFFF;
$black: #1B1818;
$forms: #1d1d1d;
$reallylightgray: #eceae4;
$lightgray: #a9a9a9;
$lightbrown: #9e673f;
$darkbrown: #703f2a;
$darkgreen: #013d4c;
$lightgreen: #779fa5;
$teal: #005a70;
$red: #da3e3e;

// Fonts
@import url("https://use.typekit.net/jix0qxy.css");
$reg: 400;
$bold: 700;
// Icons

